<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBz0nmD2xNdnknfmlRudefVIDa7Vk5yrpE</string>
	<key>GCM_SENDER_ID</key>
	<string>890621108025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kixfit.kixfit</string>
	<key>PROJECT_ID</key>
	<string>kixfit-785bf</string>
	<key>STORAGE_BUCKET</key>
	<string>kixfit-785bf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890621108025:ios:9386c3fe497487402b52e8</string>
	<key>DATABASE_URL</key>
	<string>https://kixfit-785bf-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>